<!--The content below is only a placeholder and can be replaced.-->
<div class="rlogger-img">
</div>
<h1 style="text-align:center; text-decoration: underline">
  {{ title }}
</h1>
<div class="stringer-form">
  <form [formGroup]="mainsForm" novalidate class="mains-form">
    <h3>Configure the Mains:</h3>
    <mat-form-field class="full-width">
      <input placeholder="Pick a model" aria-label="Number" matInput formControlName="model" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let model of mainsFilteredModels | async" [value]="model">
          {{ model }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="30lbs - 75lbs">
      <input type="number" matInput placeholder="Enter the tension(lbs)" formControlName="tension" required>
    </mat-form-field>
  </form>
  <div class="same-as-mains">
    <mat-checkbox [(ngModel)]="sameAsMains">Use Same Strings for Crosses</mat-checkbox>
  </div>
  <form *ngIf="!sameAsMains" [formGroup]="crossesForm" novalidate class="mains-form">
    <h3>Configure the Crosses:</h3>
    <mat-form-field class="full-width">
      <input placeholder="Pick a model" aria-label="Number" matInput formControlName="model" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let model of crossesFilteredModels | async" [value]="model">
          {{ model }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="30lbs - 75lbs">
      <input type="number" matInput placeholder="Enter the tension(lbs)" formControlName="tension" required>
    </mat-form-field>
  </form>
  <div class="extras">
    <mat-slide-toggle [(ngModel)]="addOverGrip">Add OverGrip</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="replaceGrip">Replace Grip</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="preStretch">Pre-Stretch</mat-slide-toggle>
  </div>
  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="notes" placeholder="Additional Notes"></textarea>
  </mat-form-field>
  <div class="submit-button">
    <button mat-raised-button color="primary" [disabled]="disableSubmit" (click)="submitForm()">String It!</button>
  </div>
</div>

